<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umkc.wjfkc2.pocketmoto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="PMSplashScreen"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PMMainMenu" android:screenOrientation="portrait"></activity>
        <service android:name="PMMusic"></service>
        <activity android:name="PMGame" android:screenOrientation="portrait"></activity>
        <activity android:name="PMAbout"></activity>
        <activity android:name="FragmentPreferenceActivity"></activity>
    </application>

</manifest>
